
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<br />
<h1>
    Bienvenidos a Movil Business... 
</h1>
<h3>
    Seleccione la opcion que desea visualizar en el menu
</h3>